@font-face {
  font-family: HentaiVerse;
  src: url(hentaiverse.ttf);
}

/* misc */
body{font-size:8pt;font-family:arial,helvetica,sans-serif;color:#5C0D11;background:#E3E0D1;padding:2px;margin:0px}
a:link{color:#5C0D11} 
a:visited{color:#5C0D11} 
a:hover{color:#9B4E03} 
a:active{color:#5C0D11} 
a.noul:link{text-decoration:none}
a.noul:visited{text-decoration:none}
a.noul:hover{text-decoration:none}
a.noul:active{text-decoration:none}
.nopm{padding:0;margin:0}
.stuffbox{background:#EDEBDF;border:1px solid #5C0D12}
p{padding:3px 1px;margin:0}
.emsg {color:#FF5555;font-weight:bold}
.c{clear:both}

/* common screens */
div.cw{border:0;padding:0;margin:0}
div.csp{width:1236px;height:702px}
div.cpu{visibility:hidden;position:absolute;top:0px;left:0px;border:1px solid #5C0D11;background:#EDEBDF;width:190px;height:120px;opacity:0.9;text-align:left;padding:3px;z-index:5}
div.clb{float:left;width:150px;height:700px}
div#navbar{float:left;width:1051px;height:23px;padding-top:3px;border-bottom:1px solid #5C0D11;border-left:1px solid #5C0D11;padding-left:25px}
div.cnbd{float:left;width:180px;height:19px;text-align:left;margin-left:10px}
div.cnbp{width:180px}
div.cnbc{text-align:left;position:absolute;visibility:hidden;background:#EDEBDF;width:180px;z-index:99;opacity:0.9;border:1px solid #5C0D11;border-top:0;margin-top:1px}
div.cnbs{height:12px;cursor:pointer;padding:5px 3px;background:#EDEBDF}
div.cnbs:hover{height:12px;cursor:pointer;padding:5px 3px;background:#F2EFDF}
div#mainpane{float:left;width:1076px;height:670px;padding:2px 0px;overflow:hidden}
div#messagebox{position:absolute;width:550px;height:150px;top:200px;left:340px;background:#F2EFDF;opacity:0.95;border:1px solid #5C0D12;visibility:visible;z-index:5}
div.cmb2{border-bottom:1px dotted #5C0D12;width:548px;height:17px}
div.cmb3{float:left;padding:3px 5px;height:10px;width:500px}
div.cmb4{float:right;padding:3px;height:10px;width:15px}
div.cmb5{overflow:auto;height:128px;width:548px}
div.cmb6{padding:5px 0px;height:10px;width:530px;clear:both;margin:auto}
div.cmo1{float:right;padding-top:4px;width:50px}
div.cmo2{float:left;width:30px}
div.cmo3{float:left;width:16px}
img.cmoi{border:0;opacity:1.0;padding:0px 4px}
div.cbl{width:145px;margin:3px 0px 0px 4px}
table.cit{text-align:right;padding-top:10px;width:145px}
div.cwbt{position:absolute;top:3px;left:2px;z-index:9}
div.cwbt1{margin:3px auto 0px 0px;text-align:center;width:120px}
div.cwbt2{margin:3px auto 0px 36px;text-align:center;width:50px}
img.cwb2{border:0;padding:0;margin:0;position:absolute;left:0px;top:0px;z-index:2;height:24px}
img.cwb3{border:0;padding:0;margin:0;position:absolute;left:0px;top:0px;z-index:5}
div.cwbdv{width:120px;height:24px;position:relative;clear:both;margin-left:15px;background-color:black}
div.chbd{width:120px;height:12px;position:relative;background-color:black}
img.chb2{border:0;padding:0;margin:0;position:absolute;left:0px;top:0px;z-index:2;height:12px}
img.chb3{border:0;padding:0;margin:0;position:absolute;left:0px;top:0px;z-index:5}
div.csps{height:19px;width:99%;cursor:pointer}
div.cspp{clear:both;overflow:hidden}
div.cfb{cursor:pointer;float:left;height:20px;padding:8px 1px 1px 1px;border-top:1px solid #EDEBDF;border-bottom:1px solid #5C0D11}
div.cfb:hover{padding:8px 0px 1px 0px;background:#F2EFDF;border:1px solid #9B4E03}
div.cfbs{cursor:pointer;float:left;height:20px;padding:8px 1px 1px 1px;border-top:1px solid #EDEBDF;border:1px solid #5C0D11;border-bottom:1px solid #EDEBDF}

/* equipment */
td.eqhp{padding-top:3px;font-weight:bold;font-style:italic}
td.eqam{font-weight:bold;font-style:italic;padding-top:2px}
table.eqat{width:316px;margin:-1px auto}
td.eqak{width:56px}
td.eqav1{width:51px;text-align:right;font-weight:bold}
td.eqav2{width:59px;text-align:right;font-weight:bold}
td.eqsv1{width:70px;text-align:right;font-weight:bold}
td.eqsv2{font-weight:bold;text-align:left;width:13px}
div.eqt{font-weight:bold;text-align:center;padding-bottom:3px;margin-bottom:5px;font-size:120%;border-bottom:1px solid #A47C78}
div.eqc{text-align:justify;margin-bottom:5px}
div.eqb{font-weight:bold}
div.eqp{clear:both;position:relative}
div.eqpp{clear:both;padding-top:7px;position:relative}
div.eqdp{cursor:pointer;padding:1px 5px 5px 18px;float:left}
div.eqde{cursor:pointer;clear:both;width:650px;margin:auto}
div.eqspd{width:650px;height:20px;margin:2px auto;padding:8px 0px;clear:both;text-align:left;position:relative}
div.eqspt{clear:both;width:650px;margin:auto}
div.sph{clear:both;padding:30px 0 0;width:300px}
div.spc{clear:both;padding:18px 0 3px 10px;width:320px}
div.spn{float:left;padding:5px 0 0 20px;width:320px}
div.spv{float:left;padding:5px 0 0 20px;width:50px}
div.spk{float:left;padding:5px 0 0 0;width:270px}
div.spfv{float:left;padding:5px 0 0 0;width:40px}
div.spfk{float:left;padding:5px 0 0 0;width:300px}
div.sptv{float:left;padding:7px 0 0 10px;width:55px}
div.sptk{float:left;padding:7px 0 0;width:110px}
div.sptp{float:left;padding:7px 0 0;width:260px}
div.eqm{width:1066px;height:650px;text-align:center;padding-top:4px;position:relative}
div.eql{width:704px;height:648px;text-align:center;float:left;position:relative}

/* battle */
div.bttp{width:669px;height:418px;clear:both;overflow:auto;overflow:auto}
div.btc{margin:20px auto 0px;height:15px}
div.btcp{position:absolute;top:30px;left:200px;width:360px;height:150px;margin:2px 0px 0px 15px;padding:1px;border:2px ridge #5C0D12;background:#F2EFDF;opacity:0.95;z-index:9}
div.btcd{margin:20px auto 0px}
img.btci{cursor:pointer;border:0}
img.btam{margin:0px 0px 0px 7px}
img.btap{position:absolute;top:-2px}
td.bts{width:230px;padding-left:0px;padding-top:3px}
td.btsp{width:230px;padding-left:0px;padding-top:9px}
div.btsd{float:left;cursor:pointer;padding-left:15px}
td.bti{width:320px;padding-left:5px}
div.bti1{width:300px;height:15px;margin:1px 0;padding:1px;clear:both;text-align:left;position:relative}
div.bti2{float:left;height:15px;width:24px;padding:5px 2px 2px 2px;text-align:right}
div.bti3{float:left;height:15px;width:250px;padding:5px 2px 2px 0}
img.btii{cursor:pointer;padding-left:15px}
div.btm1{width:360px;height:50px;margin:2px auto;padding:1px;clear:both;text-align:left;position:relative}
div.btm2{float:left;height:47px;width:35px;padding:2px;text-align:center}
div.btm2 img{margin:2px 3px 2px 2px}
div.btm3{float:left;height:15px;width:280px;padding:1px 0px 0px 3px}
div.btm4{float:left;height:36px;width:122px;position:relative;margin:-1px 0px 0px 0px}
div.btm5{float:left;height:12px;width:120px}
div.btm6{float:left;height:32px;width:190px;position:absolute;top:16px;left:164px;padding:2px 0px 0px 1px}
div#quickbar{width:641px;height:34px;clear:both;padding-left:13px}
div.btqd{float:left;text-align:center;width:32px;height:36px;margin:0px;padding:0px 5px 2px 0px;position:relative}
div.btqs{float:left;text-align:center;width:32px;height:36px;margin:0px;padding:0px 5px 2px 0px;position:relative;cursor:pointer}
img.btqi{border:0px;margin:0px;padding:0px;position:absolute;left:3px;top:4px;z-index:3}
img.btqb{border:0px;margin:0px;padding:0px;position:absolute;left:-5px;top:-4px;z-index:3}
div.btt{width:1056px;height:36px;margin:auto;text-align:center;padding-top:4px;position:relative}
div.btl{width:656px;height:610px;float:left;position:relative;z-index:1;padding:0;margin:auto 0}
div.bte{width:1048px;height:32px;text-align:left;margin:2px 4px 0px;padding-top:2px;float:left}
div.btp{width:650px;height:20px;margin:8px 0 3px;padding-left:40px;clear:both}
div.btpa{width:90px;text-align:center;float:left;position:relative}
div.btpa img {cursor:pointer}
div.btip{width:669px;height:75px;clear:both;text-align:justify;overflow:auto;border-bottom:2px ridge #5C0D12;padding-top:5px}
div.btii{padding-bottom:3px;font-weight:bold}
div.btlp{font-family:'Verdana','sans-serif'}
div.btpm1{width:250px;margin:auto;margin-top:3px}
div.btpm2{float:left}
div.btpm3{float:right}
table.btp{clear:both;text-align:left}
div.btmp{width:400px;height:610px;float:left;margin-left:15px;overflow:auto;position:relative;padding-top:2px;z-index:1}
img#ta_monster_1{opacity:1.0;visibility:hidden;position:absolute;top:2px;left:10px}
img#ta_monster_2{opacity:1.0;visibility:hidden;position:absolute;top:2px;left:75px}
td.t1{text-align:right;vertical-align:top}
td.t2{text-align:right;vertical-align:top}
td.t3{text-align:left}
td.t3b{text-align:left;font-weight:bold}

/* monster lab */

div.ms{border:2px ridge #5C0D12; width:996px; height:26px; margin:2px auto}
div.msa{cursor:pointer}
div.msa:hover{background:#F2EFDF}

/* fonts and font colors */
div.f2lb{float:left;margin:0;padding:0;height:10px;background-color:transparent;background-image:url(/y/font/10b.png)}
div.f2lg{float:left;margin:0;padding:0;height:10px;background-color:transparent;background-image:url(/y/font/10g.png)}
div.f2lr{float:left;margin:0;padding:0;height:10px;background-color:transparent;background-image:url(/y/font/10r.png)}
div.f2ly{float:left;margin:0;padding:0;height:10px;background-color:transparent;background-image:url(/y/font/10y.png)}
div.f2la{float:left;margin:0;padding:0;height:10px;background-color:transparent;background-image:url(/y/font/10a.png)}
div.f2rb{float:right;margin:0;padding:0;height:10px;background-color:transparent;background-image:url(/y/font/10b.png)}
div.f2rg{float:right;margin:0;padding:0;height:10px;background-color:transparent;background-image:url(/y/font/10g.png)}
div.f2rr{float:right;margin:0;padding:0;height:10px;background-color:transparent;background-image:url(/y/font/10r.png)}
div.f2ry{float:right;margin:0;padding:0;height:10px;background-color:transparent;background-image:url(/y/font/10y.png)}
div.f2ra{float:right;margin:0;padding:0;height:10px;background-color:transparent;background-image:url(/y/font/10a.png)}
div.f4lb{float:left;margin:0;padding:0;height:12px;background-color:transparent;background-image:url(/y/font/12b.png)}
div.f4lg{float:left;margin:0;padding:0;height:12px;background-color:transparent;background-image:url(/y/font/12g.png)}
div.f4lr{float:left;margin:0;padding:0;height:12px;background-color:transparent;background-image:url(/y/font/12r.png)}
div.f4ly{float:left;margin:0;padding:0;height:12px;background-color:transparent;background-image:url(/y/font/12y.png)}
div.f4la{float:left;margin:0;padding:0;height:12px;background-color:transparent;background-image:url(/y/font/12a.png)}
div.f4rb{float:right;margin:0;padding:0;height:12px;background-color:transparent;background-image:url(/y/font/12b.png)}
div.f4rg{float:right;margin:0;padding:0;height:12px;background-color:transparent;background-image:url(/y/font/12g.png)}
div.f4rr{float:right;margin:0;padding:0;height:12px;background-color:transparent;background-image:url(/y/font/12r.png)}
div.f4ry{float:right;margin:0;padding:0;height:12px;background-color:transparent;background-image:url(/y/font/12y.png)}
div.f4ra{float:right;margin:0;padding:0;height:12px;background-color:transparent;background-image:url(/y/font/12a.png)}
div.fd2{display:inline;height:10px;margin:0;padding:0}
div.fd4{display:inline;height:12px;margin:0;padding:0}
div.f20{width:9px;background-position:0 -0px}
div.f21{width:5px;background-position:0 -10px}
div.f22{width:10px;background-position:0 -20px}
div.f23{width:10px;background-position:0 -30px}
div.f24{width:10px;background-position:0 -40px}
div.f25{width:10px;background-position:0 -50px}
div.f26{width:10px;background-position:0 -60px}
div.f27{width:10px;background-position:0 -70px}
div.f28{width:9px;background-position:0 -80px}
div.f29{width:9px;background-position:0 -90px}
div.f210{width:4px;background-position:0 -100px}
div.f211{width:4px;background-position:0 -110px}
div.f212{width:5px;background-position:0 -120px}
div.f213{width:10px;background-position:0 -130px}
div.f214{width:11px;background-position:0 -140px}
div.f215{width:8px;background-position:0 -150px}
div.f216{width:8px;background-position:0 -160px}
div.f217{width:8px;background-position:0 -170px}
div.f218{width:11px;background-position:0 -180px}
div.f219{width:11px;background-position:0 -190px}
div.f220{width:4px;background-position:0 -200px}
div.f221{width:4px;background-position:0 -210px}
div.f222{width:4px;background-position:0 -220px}
div.f223{width:4px;background-position:0 -230px}
div.f224{width:6px;background-position:0 -240px}
div.f225{width:6px;background-position:0 -250px}
div.f226{width:6px;background-position:0 -260px}
div.f227{width:6px;background-position:0 -270px}
div.f228{width:8px;background-position:0 -280px}
div.f239{width:4px;background-position:0 -390px}
div.f240{width:11px;background-position:0 -400px}
div.f241{width:9px;background-position:0 -410px}
div.f242{width:9px;background-position:0 -420px}
div.f243{width:9px;background-position:0 -430px}
div.f244{width:8px;background-position:0 -440px}
div.f245{width:8px;background-position:0 -450px}
div.f246{width:9px;background-position:0 -460px}
div.f247{width:10px;background-position:0 -470px}
div.f248{width:4px;background-position:0 -480px}
div.f249{width:6px;background-position:0 -490px}
div.f250{width:10px;background-position:0 -500px}
div.f251{width:6px;background-position:0 -510px}
div.f252{width:13px;background-position:0 -520px}
div.f253{width:9px;background-position:0 -530px}
div.f254{width:9px;background-position:0 -540px}
div.f255{width:10px;background-position:0 -550px}
div.f256{width:10px;background-position:0 -560px}
div.f257{width:11px;background-position:0 -570px}
div.f258{width:10px;background-position:0 -580px}
div.f259{width:8px;background-position:0 -590px}
div.f260{width:10px;background-position:0 -600px}
div.f261{width:11px;background-position:0 -610px}
div.f262{width:14px;background-position:0 -620px}
div.f263{width:11px;background-position:0 -630px}
div.f264{width:10px;background-position:0 -640px}
div.f265{width:10px;background-position:0 -650px}
div.f40{width:10px;background-position:0 -0px}
div.f41{width:6px;background-position:0 -12px}
div.f42{width:11px;background-position:0 -24px}
div.f43{width:11px;background-position:0 -36px}
div.f44{width:11px;background-position:0 -48px}
div.f45{width:11px;background-position:0 -60px}
div.f46{width:11px;background-position:0 -72px}
div.f47{width:11px;background-position:0 -84px}
div.f48{width:10px;background-position:0 -96px}
div.f49{width:10px;background-position:0 -108px}
div.f410{width:5px;background-position:0 -120px}
div.f411{width:5px;background-position:0 -132px}
div.f412{width:6px;background-position:0 -144px}
div.f413{width:11px;background-position:0 -156px}
div.f414{width:12px;background-position:0 -168px}
div.f415{width:9px;background-position:0 -180px}
div.f416{width:9px;background-position:0 -192px}
div.f417{width:9px;background-position:0 -204px}
div.f418{width:12px;background-position:0 -216px}
div.f419{width:12px;background-position:0 -228px}
div.f420{width:5px;background-position:0 -240px}
div.f421{width:5px;background-position:0 -252px}
div.f422{width:5px;background-position:0 -264px}
div.f423{width:5px;background-position:0 -276px}
div.f424{width:7px;background-position:0 -288px}
div.f425{width:7px;background-position:0 -300px}
div.f426{width:7px;background-position:0 -312px}
div.f427{width:7px;background-position:0 -324px}
div.f428{width:9px;background-position:0 -336px}
div.f439{width:5px;background-position:0 -468px}
div.f440{width:12px;background-position:0 -480px}
div.f441{width:10px;background-position:0 -492px}
div.f442{width:10px;background-position:0 -504px}
div.f443{width:10px;background-position:0 -516px}
div.f444{width:9px;background-position:0 -528px}
div.f445{width:9px;background-position:0 -540px}
div.f446{width:10px;background-position:0 -552px}
div.f447{width:11px;background-position:0 -564px}
div.f448{width:5px;background-position:0 -576px}
div.f449{width:7px;background-position:0 -588px}
div.f450{width:11px;background-position:0 -600px}
div.f451{width:7px;background-position:0 -612px}
div.f452{width:15px;background-position:0 -624px}
div.f453{width:10px;background-position:0 -636px}
div.f454{width:10px;background-position:0 -648px}
div.f455{width:11px;background-position:0 -660px}
div.f456{width:11px;background-position:0 -672px}
div.f457{width:12px;background-position:0 -684px}
div.f458{width:12px;background-position:0 -696px}
div.f459{width:9px;background-position:0 -708px}
div.f460{width:11px;background-position:0 -720px}
div.f461{width:12px;background-position:0 -732px}
div.f462{width:16px;background-position:0 -744px}
div.f463{width:12px;background-position:0 -756px}
div.f464{width:11px;background-position:0 -768px}
div.f465{width:11px;background-position:0 -780px}

/* item/equip panes */
td.io{width:300px;padding-left:5px}
td.iop{width:300px;padding-left:5px;padding-top:7px}
div.id{padding:1px 5px 5px 18px;float:right}
div.idp{cursor:pointer;padding:1px 5px 5px 18px;float:right}
td.ii{width:50px;text-align:right}
div.il{cursor:pointer;width:15px;height:18px;position:absolute;top:1px;background-image:url(/y/equip/padlock_closed.png)}
div.ilp{cursor:pointer;width:15px;height:18px;position:absolute;top:8px;background-image:url(/y/equip/padlock_closed.png)}
div.iu{cursor:pointer;width:15px;height:18px;position:absolute;top:1px;background-image:url(/y/equip/padlock_open.png)}
div.iup{cursor:pointer;width:15px;height:18px;position:absolute;top:8px;background-image:url(/y/equip/padlock_open.png)}
div#equipment{clear:both;text-align:left;margin:auto;margin-top:10px;border:1px solid #5C0D11;background:#EDEBDF;width:320px;height:400px;opacity:0.9;text-align:left;padding:3px}
div.e1{margin:3px auto;font-size:110%;text-align:center;font-weight:bold}
div.e2{text-align:center;margin:3px auto}
div.e3{border-top:1px solid #A47C78;margin:5px auto 2px;padding-top:2px}
div.e4{float:left;width:155px;text-align:right}
div.e4c{float:left;width:155px;text-align:right;clear:left}
div.ek{float:left;width:99px;padding:2px}
div.ev{float:left;width:35px;padding:2px 0 2px 2px}
div.evr{float:left;width:35px;padding:2px 0 2px 2px;color:#BF0000}
div.ep{float:left;width:6px;text-align:left;padding:2px 2px 2px 1px}
div.e5{margin:7px auto 2px}
div.e6{font-weight:bold;text-align:center;margin-bottom:-4px}
div.e71{margin:5px auto;width:106px}
div.e72{margin:5px auto;width:212px}
div.e73{margin:5px auto;width:318px}
div.e81{clear:both;margin:0px auto;width:106px}
div.e82{clear:both;margin:0px auto;width:212px}
div.e83{clear:both;margin:0px auto;width:318px}
div.e9{float:left;width:106px;text-align:center}

span.eu{white-space:nowrap;color:red}
span.ep{white-space:nowrap;color:blue}
span.ee{white-space:nowrap;color:purple}

/* input */
.stdbtn{font-size:8pt;color:#5C0D11;background:#EDEADA;border:2px outset #5C0D11;height:21px;margin:4px 1px 0px 1px;padding:0px 4px 1px 4px}
.stdbtn:hover{color:#9B4E03;background:#F2EFDF;border:2px outset #9B4E03}
.stdbtn:focus{color:#9B4E03;background:#F2EFDF}
.stdbtn:disabled{color:#C2A8A4;background:#EDEADA}
.stdbtn:active{font-size:8pt;color:#9B4E03;background:#F2EFDF;border:2px inset #9B4E03;height:21px;margin:4px 1px 0px 1px;padding:0px 3px 1px 5px}
.stdinput{font-size:8pt;color:#5C0D11;background:#EDEADA;border:1px solid #5C0D11;margin:4px 1px 0px 1px;padding:2px 3px 2px 3px}
.stdinput:hover{color:#9B4E03;background:#F2EFDF}
.stdinput:focus{color:#9B4E03;background:#F2EFDF}
.stdinput:disabled{color:#C2A8A4;background:#EDEADA}

